extends base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Title", reuired, type="text" name="title")
        input(placeholder="Description", reuired, type="text" name="description")
        input(placeholder="Hashtags, separated by comma.", reuired, type="text" name="hashtags")
        input(type="submit", value="Upload Video")